.outerContainer {
    top: 12vh;
    right: 1vw;
    box-sizing: border-box;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    font-family: "Rubik", serif;
    position: absolute;
    max-width: 23rem;
    text-align: center;
}

.yourCart {
    font-size: 1.2em;
    padding-bottom: 0.3em;
}

.underLine {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 1em;
    height: 2px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
}

.total {
    text-align: left;
    font: inherit;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.navBtn {
    font-size: 1.1em;
}