.hover {
    cursor: pointer;
}

.cartDiv {
    position: relative;
}

.cartCounter {
    text-align: center;
    right: -0.6rem;
    bottom: -0.6rem;
    position: absolute;
    z-index: 1;
    background-color: rgb(48, 207, 83);
    width: 1.3rem;
    color: white;
    height: 1.3rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.cartCounter p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 0rem;
    line-height: 1.3rem;
}