.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    color: #212429;
    z-index: 1;
    margin-top: 0.8em;
    padding-bottom: 1rem;
}

h4 {
    font-size: max(1rem, 1.1vw);
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.pages {
    display: flex;
    justify-content: center;
    flex: 1;
}

.pages div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.logo_text {
    font-size: max(2rem, 3vw);
    font-weight: bold;
    padding-right: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-transform: uppercase;
}

.logo img {
    width: max(3rem, 4vw);
}

.icons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.icons img {
    height: max(1.5rem, 1.8vw);
    margin-left: 0.3em;
    margin-right: 0.3em;
}

@media only screen and (max-width: 600px) {
    .pages {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .hideOnMobile {
        display: none;
    }
}