@import "../../../src/index.css";

.DeliveryMethodComponent {
    margin: 1em auto;
    font-family: "Rubik", serif;
}

hr {
    border: 1px solid gray;
}

h2 {
    margin: 0 auto;
    border-radius: 25%;
}

.CourierOptionContainer {
    display: flex;
    flex-direction: row;
}