.price_text {
    font-size: 1.1em;
}

.name_text {
    font-size: 1.1em;
}

.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    color: rgb(31, 31, 31);
    font-weight: bold;
    text-decoration: underline;
    margin-left: 0;
    margin-top: 1em;
}

.card {
    padding: 1rem;
    background-color: rgb(241, 241, 241);
    border-radius: 0.6em;
    margin: 1em;
<<<<<<< HEAD:src/components/CardStuff/Card.module.css
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 220px;

=======
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
>>>>>>> 02bf043a4ee7c7bc4f50e43c157b8ea8ecb66613:src/components/Cards/Card.module.css
}

.rock_image {
    width: 2em;
    height: 2em;
}

.image_div {
    display: flex;
    background-color: #e2e2e2;
    border-radius: 0.4em;
    padding: 1rem;
    height: 14em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.rock_image {
    aspect-ratio: 10/7;
    width: 10em;
    height: 7em;
    margin-bottom: 1em;
}