.ShoppingCartMain {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CardContent {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.total {
    flex: 0 0 auto;
}