
.ShoppingCartMain {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CardContent {
    width: 100%;
    flex: 1 0 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.total {
    flex: 0 0 auto;
}