.btn{
    border: none;
    color: black;
    font: inherit;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 4px;
    padding: 2px 10px;
    transition-duration: 0s;

}

.div{
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}