@import "../index.css";

.container{
   margin-left: 6vw;
   margin-top: 20vh;
   margin-bottom: 30vh;
}

section {
   margin: 15vh 8vw;
   width: 60%
}

h1{
   font-family: "Rubik", serif;
   font-size: 2em;
   margin-bottom: 1em;
}

p{
   font-family: "Rubik", serif;
   font-weight: 500;
   font-size: 1.15em;
   line-height: 1.8em;
}

