@import "../index.css";
.bigContainer {
margin: 6em auto 1em 10em;
}

.smallContainer {
    max-width: 65%;
    margin-bottom: 4em;
}

h1 {
    font-family: "Rubik", serif;
    font-size: 2em;
    margin-bottom: 0.6em;
}

p {
    font-family: "Rubik", serif;
    font-weight: 500;
    font-size: 1.15em;
    line-height: 1.8em;
}