@import "../index.css";
.bigContainer {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.smallContainer {
    width: 70%;
    max-width: 60rem;
    margin-bottom: 3rem;
}

h1 {
    font-family: "Rubik", serif;
    font-size: 2em;
    margin-bottom: 0.6em;
}

p {
    font-family: "Rubik", serif;
    font-weight: 500;
    font-size: 1.15em;
    line-height: 1.8em;
}