.TopContainer {
    width: 90%;
    height: max-content;
    margin: 2em auto 4em auto;
}

.BlogPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogHeader {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Socials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.Socials>* {
    padding: 0 5px;
}

.title {
    text-wrap: normal;
    max-width: 400px;
    font-size: 2.2em;
}

.date {
    font-weight: normal;
    margin: 0.5em 0;
    width: fit-content;
}

.gray {
    color: rgba(33, 36, 41, 0.67);
}

.mainContent {
    max-width: 800px;
    font-size: 1.2em;
}

.mainContent>img {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16/9;
}