.toplevelContainer {
    width: 80%;
    height: 80vh;
    margin: 3em auto;
}

.innerContainer {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.leftContainer {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.rightContainer {
    flex: 0 0 45%;
    max-height: 100%;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.shoppingCartTitle {
    min-height: 0;
    flex: 0 1 10%;
    margin: 0;
}

.shoppingCartContainer {
    flex: 0.85 1 0;
    width: 100%;
    margin: 0;
    min-height: 0;
    min-width: 0;
}

.payButton {
    flex: 0 1 5%;
    background: hsl(60, 17%, 65%);
    border: none;
    padding: 0.5em 1em;
    font-family: "Rubik", serif;
    font-size: 1em;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.76);
    border-radius: 8px;
}

.payButton:hover {
    cursor: pointer;
    background: hsl(60, 17%, 60%);
}

.payButton:active{
    cursor: pointer;
    background: hsl(60, 17%, 55%);
}

