.card_table {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}

.treeSection {
    display: grid;
    grid-template: 80vh 1fr /25% 1fr 35%;
    background-color: #D1D1C0;
    height: 110vh;
}

.treeSection h1 {
    align-self: center;
    place-self: center;
    font-size: 3rem;
}

.flag {
    align-self: end;
    width: 100%;
}

.trees {
    width: 100%;
    align-self: end;
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave1 {
    background-image: url("../assets/wave-haikei.svg");
}

.wave2 {
    background-image: url("../assets/wave-haikei2.svg");
}

.saaJouduSection {
    height: 100vh;
    display: grid;
    grid-template: 30% 10% 10% 10% 10% 10% 1fr / 5% 1fr 30% 30% 5%;
    justify-content: center;
    align-items: center;
    background-color: #D3E2E8;
}

.saaJouduSection h1 {
    font-weight: bold;
    font-size: 3rem;
}

.saaJouduSection>h1:nth-child(1) {
    place-self: center;
    align-self: end;
    grid-area: 1/2;
}

.saaJouduSection span {
    text-decoration: underline;
}

.saaJouduSection>h1:nth-child(2) {
    grid-area: 3/4;
}

.saaJouduSection button {
    grid-area: 6/2;
    place-self: center;
    align-self: end;
    height: 5rem;
}

.shopSection {
    padding-top: 6rem;
    padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
    .trees {
        display: none;
    }
    .treeSection {
        grid-template: 80vh 1fr /45% 1fr;
    }
    .saaJouduSection {
        grid-template: 10% 1fr 10% 1fr 10% 10% 1fr / 5% 1fr 5%;
    }
    .saaJouduSection>h1:nth-child(1) {
        grid-area: 2/2;
        place-self: center;
    }
    .saaJouduSection>h1:nth-child(2) {
        grid-area: 4/2;
        place-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .trees {
        display: none;
    }
    .flag {
        grid-area: 2/1;
        height: 60%;
        place-self: start;
    }
    .treeSection {
        grid-template: 1fr 1fr /1fr;
    }
    .saaJouduSection h1 {
        font-size: 2rem;
    }
    .saaJouduSection button {
        height: 3rem;
        font-size: 2rem;
    }
    .saaJouduSection button i {
        height: 1.5rem;
    }
}