.card_table {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}

.treeSection {
    display: grid;
    grid-template: 80vh 1fr /25% 1fr 35%;
    background-color: #D1D1C0;
    height: 110vh;
}

.treeSection h1 {
    align-self: center;
    place-self: center;
    font-size: 4rem;
}

.flag {
    align-self: end;
    width: 100%;
}

.trees {
    width: 100%;
    align-self: end;
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave1 {
    background-image: url("../assets/wave-haikei.svg");
}

.wave2 {
    background-image: url("../assets/wave-haikei2.svg");
}

.saaJouduSection {
    height: 100vh;
    display: grid;
    grid-template: 10% 10% 10% 10% 10% 10% 1fr / 30% 1fr 30%;
    justify-content: center;
    align-items: center;
    background-color: #D3E2E8;
}

.saaJouduSection>h1:nth-child(1) {
    place-self: end;
    align-self: end;
    font-weight: bold;
    font-size: 3rem;
}

.saaJouduSection>h1:nth-child(2) {
    grid-area: 3/3;
    font-size: 3rem;
}

.saaJouduSection button {
    grid-area: 6/1;
    place-self: end;
    align-self: end;
    height: 6rem;
}

.shopSection {
    padding-top: 30rem;
}

.saaJouduSection button i {
    display: flex;
    align-items: center;
    justify-content: center;
    content: url("../assets/Arrow\ 1.svg");
}