h1,
h2 {
    color: #333333;
}

.price-text {
    font-size: 1.1em;
}

.name-text {
    font-size: 1.1em;
}

.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    color: black;
    background-color: #dfdfdf;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 0;
    padding-left: 0;
}

.card {
    padding: 1rem;
    background-color: lightgray;
    border-radius: 1.2em;
    margin: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.rock_image {
    width: 2.5em;
    height: 2em;
}

.image_div {
    display: flex;
    background-color: #E3DED9;
    border-radius: 1em;
    padding: 1rem;
    height: 20em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.rock_image {
    width: 14em;
    height: 10em;
    margin-bottom: 1em;
}