@import "../../index.css";

.CourierOptionComponent {
    display: flex;
    font-family: "Rubik", serif;
    background: #C5C5C5;
    border-radius: 12px;
    padding: 0.8em;
    margin: 0 1em;
    min-width: 10em;
}

.CourierInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.CourierImg {

}

.CourierName, .CourierPrice {
    padding: 2px 15px;
}

.CourierName {

}

.CourierPrice {
    margin: 0;
}

h3 {
    margin: 0;
}