@import "../../index.css";

.CourierOptionComponent {
    --padding: 0.8em;
    --radius: 12px;
    display: flex;
    font-family: "Rubik", serif;
    background: #C5C5C5;
    border-radius: var(--radius);
    /*noinspection CssUnresolvedCustomProperty*/
    padding: var(--padding);
    margin: 0 1em;
    width: 11em;
    overflow: hidden;
}

.CourierOptionComponent:hover {
    background: #bdbdbd;
}

.CourierOptionComponent:active {
    background: #b2b2b2;
}

.selected {
    background: rgb(6, 215, 0);
}

.selected:hover {
    background: rgb(7, 190, 1);
}

.CourierInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.CourierImg {
    width: 3.5em;
    height: 3.5em;

}

.CourierName, .CourierPrice {
    padding: 2px 15px;
}

.CourierName {

}

.CourierPrice {
    margin: 0;
}

h3 {
    margin: 0;
}