        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #F2F2F2;
            font-family: "Rubik";
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
        }
        
        a {
            color: #1b1d20;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4 {
            margin-block-end: 0;
            margin-block-start: 0;
        }
        
        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        }
        
        @font-face {
            font-family: 'Rubik';
            src: url('./fonts/Rubik-VariableFont_wght.ttf');
        }
        /* @font-face {
    font-family: 'Rubik-SemiBold';
    src: url('./fonts/Rubik-SemiBold.woff2') format('woff2'), url('./fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./fonts/Rubik-Bold.woff2') format('woff2'), url('./fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('./fonts/Rubik-ExtraBold.woff2') format('woff2'), url('./fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */